div.container{
    max-width: 100% !important;
    margin-top: 100px;
    width: 1500px !important;
}

div.card{
    height: 500px;
}

div.col-sm-6.col-md-4.col-lg-3.mt-4{
    height: 500px;
}
div.tag{
    height: 50px;
}
h4.card-title{
    margin-top: 20px;
    margin-left: 20px;
}

#dropdown-user{
    margin-right: 20px;
}

#menu{
    background-color: #ff5100 !important;
}

#dropdown-user{
    background-color: #ff5100 !important;
    border-color: #ff5100 !important;
    cursor: pointer !important;
}

.btn{
    background-color: white !important;
    border-color: #ff5100 !important;
    color: #ff5100 !important;
}
.btn:hover{
    background-color: #ff5100 !important;
    border-color: #ff5100 !important;
    color: white !important;
}

#ingredients{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#description{
    height: auto;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#user-data{
    text-align: left;
    margin-left: 30%;
}

#user-search{
    text-align: left;
    margin-left: 30%;
}

#section-profile{
    height: complex;
}

#select-ingredients{
    width: 700px;
    margin: 0 auto;
}

#ingredients-form > input{
    width: 100%;
}

#login-form > div > input{
    width: 100%;
}

#ingredients-form > button{
    width: 300px;
    margin-left: 200px;
}

#register-form > div > input{
    width: 100%;
}

#form-container{
    width: 700px;
    margin: 0 auto;
}

