{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Food Elector{% endblock %}</title>

    <script type="text/javascript" src="{% static 'Js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- icons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>


  </head>
  <body>

    <nav id="menu" class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ion-pizza" href="{% url 'index' %}">Food Elector</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a class="nav-link" href="{% url 'populate' %}">Popular</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'recipebook' %}">Recetarios</a></li>
                <li><a class="nav-link" href="{% url 'tags' %}">Tags</a></li>
            {% else %}
                <li><a class="nav-link" href="{% url 'recipebook' %}">Recetarios</a></li>
                <li><a class="nav-link" href="{% url 'tags' %}">Tags</a></li>

            {% endif %}
        </ul>
      {% if user.is_authenticated  %}
        <div id="dropdown-user" class="dropdown">
            <a type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="color: white">
                {{request.user.username}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'profile' %}">Ver perfil</a>
                <a class="dropdown-item" href="{% url 'favourites' %}">Recetas favoritas</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
            </div>
        </div>
      {% endif %}
      </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main><!-- /.container -->

  <div id="footer" class="footer">
     <div id= "text">
         &copy; FoodElector, 2018
    </div>
</div>

  </body>






</html>