{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated  %}
        {% if user.is_superuser  %}
            <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Hola de nuevo administrador, {{request.user.username}}</h1>
                <p class="lead text-muted">Desde aquí podrás popular la base de datos<p>
                <a id="login" class="btn btn-primary ion-upload" href="{% url 'populate' %}">Popular Base de Datos</a>
                </p>
            </div>
            </section>
        {% else %}
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Hola de nuevo, {{request.user.username}}</h1>
                    <p class="lead text-muted">¿Que ingredientes tienes hoy?<p>
                    <a href="{% url 'ingredients' %}" class="btn btn-primary">Elegir ingredientes</a>
                    </p>
                </div>
            </section>

            <div class="album text-muted">
                <div class="container">

                    <div class="row">
                    {% for recipe in recomendation %}
                        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                            <div class="card">
                                <img class="card-img-top" src="{{ recipe.image }}">
                                <div class="card-block">
                                    <h4 class="card-title">{{ recipe.title }}</h4>
                                </div>
                                <div class="card-footer">
                                    <span class="float-right">{{ recipe.recipe_book.title}}</span>
                                </div>
                                <a href="/description?id={{ recipe.id }}" class="btn btn-primary">Ver receta  </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}

        <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Bienvenido a Food Elector</h1>
          <p class="lead text-muted">Entra en tu cuenta o registrate para consultar que puedes cocinar<p>
            <a id="login" class="btn btn-primary ion-log-in" href="{% url 'login' %}">Entrar</a>
            <a id="register" class="btn btn-secondary ion-pizza" href="{% url 'register' %}">Registrarse</a>
          </p>
        </div>
        </section>
    {% endif %}

{% endblock %}