{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Puedes cocinar las siguientes recetas: </h1>
        <ul>
        <div class="row">
        {% for receta in recetas %}
            <div class="card col-xs-6" style="width: 300px">
                <img class="card-img-top" src="{{ receta.image }}" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ receta.title }}</h4>
                    <a href="/description?id={{ receta.id }}" class="btn btn-primary">Ver receta  </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </ul>

{% endblock %}